<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>KM Importados</title>
</head>

<body>

    <div class="page-landing">

        <main>

            <div class="image">
                <h1><strong> Km Importados </strong> </h1>
                <img src='/images/WhatsApp Image 2021-08-25 at 20.50.59.jpeg' />

                <div class="footer-image">

                    <div class="title2"> <strong> Importando seus sonhos</strong></div>
                </div>

                <!-- &#1F55A; -->
                <!-- &#128293; -->
                <!-- &#1F929; -->
            </div>

            <div class="contact">
                <div class="title">
                    <p class="title-content"> A sua loja especializada em produtos Apple!</p>
                </div>

                <div class="buttons">

                    <a
                        href="https://api.whatsapp.com/send?phone=5511970306529&text=Ol%C3%A1%2C%20Keyd!%20Gostaria%20de%20saber%20mais%20sobre%20a%20loja%20e%20os%20produtos">
                        <button class="btn">

                            <div class="imgWpp">
                                <img class="ImageWpp" src="/images/whatsapp.png" alt="WhatsApp">

                                <!--                         
                        <svg class="svg-inline--fa " aria-hidden="true" focusable="false"
                            data-prefix="fab" data-icon="apple" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 384 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z">
                            </path>
                        </svg -->
                            </div>
                            <!-- <div class="imgWpp">
                        
                            <img class="ImageWpp" src="/images/whatsapp.png" alt="WhatsApp">
                        </div> -->
                            Fazer uma compra


                        </button>
                    </a>

                    <a
                        href="https://api.whatsapp.com/send?phone=5511949756545&text=Ol%C3%A1%2C%20Jamile!%20Comprei%20um%20produto%20com%20voc%C3%AAs%20e%20estou%20tendo%20problemas.%20Voc%C3%AA%20poderia%20me%20ajudar%3F">
                        <button>
                            <p>⚠️</p> Problemas com o produto adquirido
                        </button>
                    </a>
                    <a
                        href="https://api.whatsapp.com/send?phone=5511970306529&text=Ol%C3%A1%2C%20Keyd!%20Gostaria%20de%20relatar%20minha%20satisfa%C3%A7%C3%A3o%20com%20a%20minha%20nova%20aquisi%C3%A7%C3%A3o">


                        <button>
                            <p>📩</p> Elogios
                        </button>
                    </a>

                    <a
                        href="https://api.whatsapp.com/send?phone=5511949756545&text=Ol%C3%A1%2C%20Jamile!%20Gostaria%20de%20relatar%20minha%20insatisfa%C3%A7%C3%A3o%20com%20a%20compra.">

                        <button>
                            <p>❌</p> reclamações
                        </button>
                    </a>
                </div>

            </div>



        </main>

        <footer>
            <div class="insta">
                <p class="text-footer">Curtiu? Dê uma olhada no nosso insta</p>


                <a class="text-footer-link" href="https://www.instagram.com/kmimportados_/">@kmimportados_</a>

                <!-- <span>&#9757;&#127997; &#9757;&#127997;</span> -->
            </div>
        </footer>
    </div>


</body>

</html>